<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>끄투파이</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}?after">
    <link rel="icon" href="{% static 'images/favicon.ico' %}">
</head>
<body>
    {% csrf_token %}

    <img id="logo" src="{% static 'images/logo.png' %}">

    <div class="lobby">        
        <ul class="roomList">
            {% for room in rooms %}
            <ol><a><span id="roomName">{{room.roomName}}</span><span id="roomMax">1 / {{room.roomMax}}</span><span id="roomInfo">{{room.roomRound}}라운드 / {{room.roomTime}}초</span></a></ol>
            {% endfor %}
            <!-- <ol><a>{{Rname}} | {{Rround}}라운드 | {{Rtime}}초 <span>1 / {{Rmax}}</span></a></ol> -->
        </ul>

        <button id="modalOpenButton">방 생성하기</button>
        {% if user.is_authenticated %}
        <button id="logoutButton" onclick=logout()>{{user.username}}<br>(로그아웃)</button>
        {% else %}
        <!-- <button id="loginButton">로그인</button> -->
        <button id="loginButton" onclick=login()>로그인</button>
        {% endif %}
        <!-- <button id="dictionary" onclick="window.open('https://terms.naver.com/')">로그인</button> -->
    </div>

    <div id="modalContainer" class="hidden">
        <div id="modalContent">
            <button id="modalCloseButton">X</button>
            <div id="title">방 생성하기</div>
            <form method="post" class="makeRoom">
                <br>
                <span>방 제목</span>
                {% if user.is_authenticated %}
                <input type="text" name="roomName" placeholder="{{user.username}}님의 방">
                {% else %}
                <input type="text" name="roomName" placeholder="guest님의 방">
                {% endif %} 
                <br><br>
                <span>비밀번호</span>
                <input type="text" name="roomPW" placeholder="비밀번호">
                <br><br>
                <span>플레이어 수</span>
                <input type="number" name="roomMax" min="2" max="8" value="8">
                <br><br>
                <span>라운드 수</span>
                <input type="number" name="roomRound" min="2" max="10" value="5">
                <br><br>
                <span>라운드 시간</span>
                <select name="roomTime">
                    <option value="30">30초</option>
                    <option value="60" selected>60초</option>
                    <option value="90">90초</option>
                </select>
                <input type="hidden" name="name" value="{{user.username}}">
                <button id="makeRoomButton" type="submit">확인</button>
            </form>
        </div>
    </div>

    <!-- <div id="modalContainer2" class="hidden">
        <div id="modalContent2">
            <button id="modalCloseButton2">X</button>
            {% block content %}
            {% endblock %}
        </div>
    </div> -->

    <script>
        const modalOpenButton = document.getElementById('modalOpenButton');
        const modalCloseButton = document.getElementById('modalCloseButton');
        const modal = document.getElementById('modalContainer');
        const modal2 = document.getElementById('modalContainer2');

        const loginButton = document.getElementById('loginButton');
        const modalCloseButton2 = document.getElementById('modalCloseButton2');

        modalOpenButton.addEventListener('click', () => {
        modal.classList.remove('hidden');
        });

        modalCloseButton.addEventListener('click', () => {
        modal.classList.add('hidden');
        });

        // loginButton.addEventListener('click', () => {
        // modal2.classList.remove('hidden');
        // });

        // modalCloseButton2.addEventListener('click', () => {
        // modal2.classList.add('hidden');
        // });        
        
        function login() {
            location.href="{% url 'users:login' %}" 
            // window.open("{% url 'users:login' %}", "로그인", "width=400, height=500, top=150, left=500")
        };

        function logout() {
            location.href="{% url 'users:logout' %}"
        };
    </script>
</body>
</html>

<!-- 
https://wikidocs.net/71259
프로젝트에다가 base.html 만들고
이 페이지를 상속시킨다
로그인 페이지도 거따가 상속시키고
스태틱도 다시 만들자...

우선순위는
base.html -> static -> index상속 -> login/singup 상속

이번주 안에 끝내보자!!!

아니면 점프 투 장고 보고
처음부터 따라서 만들어 보는것도 괜찮을듯
다만 시간이... 
-->